altgraph==0.17.4
blinker==1.9.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
keyboard==0.13.5
macholib==1.16.3
MarkupSafe==3.0.2
modulegraph==0.19.6
packaging==24.2
pefile==2023.2.7
py2app==0.28.8
pygame==2.6.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pynput==1.7.7
pywin32-ctypes==0.2.3
setuptools==75.8.0
six==1.17.0
Werkzeug==3.1.3
